@media print {
    .no-print {
        display: none;
    }
}
a:visited {
    color:#0054F3;
}
a:active {
    color:#FF4500;
}
a {
    color:#0054F3;
}

.float-left {
    float: left;
}

.one-click-call-loading {
    display:none;margin-bottom:10px;
}

.seo-categories {
    clear: both;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.seo-categories div.seo-category {
    padding: 4px;
    border: 1px solid #FAFAFA;
    border-radius: 4px 4px 4px 4px;
    width: 180px;
    height: 200px;
    margin-left: 10px;
    float: left;
}
.seo-categories div.seo-category a {
    color: gray;
}
.seo-categories div.seo-category:hover {
    border: 1px solid gray;
}
.seo-categories div.seo-category:first-child {
    margin-left: 0;
}
.seo-categories div.seo-category img {
    border-radius: 4px 4px 4px 4px;
}
.seo-categories div.seo-category span {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    text-decoration: underline;
}

.gipo-form .has-error input {
    border: 1px solid red;
}
.gipo-form .has-success input {
    border: 1px solid #00cb00;
}
.gipo-form .required > label {
    color: #555555;
    font-size: 15px;
    margin-top: 5px;
    display: inline-block;
    float: left;
}
.gipo-form .required > label::after {
    content: " *";
    font-size: 11px;
    color: red;
}
.gipo-form .form-group input {
    width: 300px;
    float: right;
}
.gipo-form .form-group {
    margin-right: 20px;
    clear: both;
    margin-bottom: 10px;
    min-height: 20px;
}
.gipo-form .form-group .help-block {
    text-align: right;
    clear: both;
    padding-top: 4px;
    min-height: 10px;
    color: red;
}

.errors {
    color:red;
    font-size:13px;
    margin-bottom:4px;
}

.map-level1 {
    margin-top: 7px;
    font-size: 20px;
}
.map-level2 {
    margin-left: 25px;
    margin-top: 8px;
    font-size: 18px;
}
.map-level3 {
    margin-left: 45px;
    margin-top: 8px;
    font-size: 16px;
}

body #main #content .page.catalog .sort {
    margin-bottom: 10px;
}

.getOtherPprz {
    font-size: 14px;
}

.delivery-header {
    color: #7d7d7d;
}

body .modals .modal {
    top: 50px;
}
body .modals .modal .modal-header {
    font-size: 16px;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
body .modals .modal .modal-body input {
    margin-bottom: 10px;
    padding-top: 5px;
}
.modal-accept {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
}

body #header .bottom_row .basket {
    padding: 5px 0 0;
}

body #header .bottom_row .basket-non-empty {
    height: 71px;
    padding-top: 11px;
}
body #header .bottom_row .basket-non-empty img {
    width: 39px;
    height: 35px;
    display: block;
    margin: 0 auto;
}
body #header .bottom_row .basket-non-empty span {
    font-size: 12px;
}

body #header .bottom_row .cart-preview {
    width: 430px;
    min-height: 100px;
    position: absolute;
    right: 0;
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #c2c2c2;
    background: #f9f9f9;
    border-radius: 3px 3px 3px 3px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body .modals .modal .modal-body input.error-input {
    border: 1px solid red;
}
body .modals .modal .modal-body textarea.error-input {
    border: 1px solid red;
}

.category-rings {
    padding-top: 20px;
}
.category-rings a {
    color: #000;
    font-size: 16px;
    text-decoration: underline;
    display: block;
}
.category-rings .prev {
    float: left;
}
.category-rings .next {
    float: right;
}

.filters-block {
    width: 700px;
    padding-top: 7px;
    min-height: 40px;
}
.filter-block {
    float: left;
    min-width: 150px;
    max-width: 170px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.filter-block:first-child {
    margin-left: 0;
}
.filter-block:nth-child(5) {
    margin-left: 0;
}
.filter-block:nth-child(9) {
    margin-left: 0;
}
.filter-block:nth-child(13) {
    margin-left: 0;
}


.footer-links {
    margin-top: 16px;
    width: 100%;
    height: 100px;
}
.footer-links span {
    display: block;
    font-size: 14px;
    margin: 0 0 4px;
    color: #7d7d7d;
    font-weight: 400;
}
.footer-links a {
    display: inline-block;
    margin-bottom: 3px;
}

#search-button {
    width: 160px;
    height: 32px;
    color: black;
    text-shadow: none;
    margin-left: -3px;
    font-size: 16px;
}
body #main #content .search #search_input {
    height: 20px;
    width: 537px;
    font-size: 16px;
}
#show_search {
    z-index: 890;
    background-color: #fff;
    position: absolute;
    width: 800px;
    border-radius: 0 0 4px 4px;
    padding: 5px;
    top: 41px;
    left: 228px;
    border: 1px solid #E2E2E2;
    display: none;
}
#searchLoader {
    display: none;
}

#proposal .modal-header span {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
}

.error-modal {
    text-align: left;
    color: red;
    font-size: 12px;
    margin: -5px 25px 5px;
    display: none;
}

.nav-right {
    float: right;
}
.kompleks {
    font-size: 14px;
    color: #363636;
}
.call_phone_1 {
    display: inline;
}
body #footer .information .phones > span a {
    font-weight: normal;
}

body #header .bottom_row .account {
    padding-left: 1px;
    padding-right: 1px;
}

body #main aside .catalog_block .menu > li {
    padding-left: 1px;
    padding-right: 8px;
}
body #main aside .catalog_block .menu > li a {
    font-size: 14px;
}
.left-catalog-icons {
    display: none;
}
.mainMenu {
    padding-bottom: 5px;
    border-bottom: 1px solid #c6c6c6;
}
body #main aside .catalog_block .menu > li .drop ul > li > a.level2-main-menu {
    color: #137fb7;
    font-size: 14px;
    font-weight: bold;
}
body #main aside .catalog_block .menu > li .drop ul ul > li a.level3-main-menu {
    color: #053f36;
    font-size: 14px;
}
body #main aside .catalog_block .menu > li img {
    width: 30px;
    float: left;
    margin-top: -13px;
    margin-right: 3px;
}

body #main aside .catalog_block .menu > li img.left-catalog-discount {
    width: 22px;
    margin-top: -3px;
    margin-bottom: 3px;
}

.allTags {
    display: block;
    text-align: right;
}
.tags {
    overflow: hidden;
    height: auto;
}
.tags a {
    font-size: 14px;
    color: #0054F3;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 1px dotted #7d7d7d;
    margin-right: 10px;
    margin-bottom: 8px;
}
.tags a:hover {
    text-decoration: none;
}

.catHeader {
    font-size: 22px;
}

body .select-drop .select-dropdown li label {
    background: url('../images/clear.png') no-repeat 3%;
    padding-left: 20px;
}
body .select-drop .select-dropdown li label:hover {
    background: #FBFBFB url('../images/clear.png') no-repeat 3%;
}
body .select-drop .select-dropdown li input[type='checkbox']:checked + label {
    background: #ebebeb url('../images/check.png') no-repeat 3%;
    color: #464646;
}


body .chosen-dark + .chosen-container .chosen-single {
    text-shadow: none;
    color: rgb(34, 34, 34);
}

body #main aside .catalog_block.tablet .menu li:before {
    bottom: 6px;
    position: absolute;
    right: 16px;
}

body .myDesc {
    margin-left: -8px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    width: 219px;
}

.catalog_block .menu li span a {
    color: #000000;
}

#coupon {
    width:340px;
    margin-left:5px;
}

.old-price-cart {
    text-align: center;
    display: block;
    width: 63px;
    height: 26px;
    margin: 0 auto;
    color: #959595;
    background: url(../images/old_price.png) no-repeat 100% 100%;
}

.basket-error {
    font-size: 15px;
    color: red;
}
.basket-success {
    font-size: 15px;
    color: green;
}

.keramic {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    padding-bottom: 10px;
}

.keramic-header {
    width:100%;
    height:30px;
    margin-top: 2px;
    margin-left: 4px;
}
.keramic-header > a {
    font-size: 15px;
    color: #000000;
}

.main-img {
    margin-left:3px;
    margin-right:3px;
    width:298px;
    height:170px;
}
.keramic-additional {
    width:290px;
    margin: 7px 6px;
    float: left;
}

.keramic-additional > .add-img {
    width:43px;
    height:40px;
    cursor:pointer;
    float:left;
    margin-right:5px;
}

.keramic-footer {
    clear: both;
    width:217px;
    margin-left:3px;
    margin-right:3px;
}

.keramic-images {
    width:100%;
}

.keramic-images > a > img {
    height:150px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.keramic-goods {
    clear:both;
}
.charakters-table {
    width:auto;
    font-size: 13px;
    color: #363636;
}
.charakters-table tr:nth-child(2n) {
    height:25px;
}
.charakters-table tr:nth-child(2n+1) {
    background-color: #EBEBEB;
    height:25px;
}
.charakters-table tr td {
    padding-left: 10px;
    padding-right: 10px;
}

.charakters-table .nm {
    min-width: 280px;
    font-weight: bold;
}



/**Страница производителей**/
.alphabet {
    font-size: 17px;
    margin-bottom: 5px;
}
.alphabet a {
    text-decoration: underline;
}
.manufacters {
    margin-top: 30px;
}
.manufacters header {
    font-size: 16px;
    font-weight: bold;
}
.manufacters div {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 18px;
}
.manufacters div a {
    text-decoration: underline;
}



.manufacter_cats header {
    padding: 0;
    margin: 0;
}
.manufacter_cats div {
    float: left;
    width: 250px;
    margin-right: 30px;
    line-height: 17px;
    margin-bottom: 25px;
}
.manufacter_cats div .mnCat {
    font-size: 18px;
    text-decoration: underline;
}
.manufacter_cats div .mnCat:hover {
    text-decoration: none;
}
.manufacter_cats div .mnSubcat {
    text-decoration: underline;
    color: #666;
}
.manufacter_cats div .mnSubcat:hover {
    text-decoration: none;
    color: #0054F3;
}



.manufacter_desc {
    clear: both;
    text-align: justify;
    font-size: 14px;
    color: #000;
    line-height: 18px;
}
.manufacter_desc p {
    margin-bottom: 5px;
}
.manufacter_desc img {
    float: left;
    margin-right: 15px;
    height: 160px;
}


#kladr_autocomplete ul{
    position:absolute;
    display:block;
    margin:0;
    padding:0;
    border:1px solid #8A8A8A;
    border-radius:3px;
    background-color:white;
    z-index:9999;
}
#kladr_autocomplete li{
    display:list-item;
    list-style-type:none;
    margin:0;
    padding:3px 5px;
    overflow:hidden;
    border:1px solid white;
    border-bottom:1px solid #BDBDBD;
}
#kladr_autocomplete li.active{
    background-color:#E0E0E0;
    border-radius:3px;
    border:1px solid #979797;
}
#kladr_autocomplete a{
    display:block;
    cursor:default;
    width:10000px;
}#kladr_autocomplete .spinner{
     position:absolute;
     display:block;
     margin:0;
     padding:0;
     width:20px;
     height:20px;
     background: transparent url("jquery.kladr.images/spinner.png") no-repeat center center;
     z-index:9999;
}


#order-form {
    padding: 0;
    width: 950px;
}
.orderBox {
    width: 600px;
    float:left;
}
.orderMapBox {
    position: absolute;
    top: 80px;
    right: 100px;
    width: 340px;
    height: 340px;
    float: right;
}



#orderLegal-form {
    padding: 0;
    width: 950px;
}
.orderLegalBox {
    width: 600px;
    float:left;
}



#fizAdress {
    margin-bottom: 11px;
}
#urAddress {
    margin-bottom: 11px;
}


body #main #content .page.dash .new_address {
    max-width: 470px;
}
.shipmentMapBox {
    position: absolute;
    top: 110px;
    right: 100px;
    width: 340px;
    height: 340px;
    float: right;
    display: none;
}


body .tabbed > .tabs dd {
    width: auto;
}

#qtyRemove, #qtyAdd, #qtyInput {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#basketButton {
    cursor: pointer;
}
#closeViewCart {
    cursor: pointer;
}
#closeViewCartTest {
    cursor: pointer;
}

/* для предпросмотра корзины */
#closeViewCart {
    float:right;
    color:black;
    text-shadow:none;
}
#closeViewCartTest {
    float:right;
    color:black;
    text-shadow:none;
}

.clear {
    clear: both;
    height:10px;
}
.pre-cart-close {
    float: right;
    margin-top: -10px;
    width: 32px;
    height: 32px;
    background: url("../img/cls.png") no-repeat 100% 100%;
}
.preCartEmpty {
    text-align:center;
    font-size:16px;
    margin:15px;
    margin-top: 30px;
}
.preCartSummary {
    text-align: center;
    text-shadow:none;
    color:#22c;
    font-size:16px;
    padding-bottom:5px;
    border-bottom:1px solid #c2c2c2;
    margin-bottom:5px;
    margin-top: 10px;
}
.preCartGoods {
    margin-top:10px;
    width: 400px;
    height:340px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.preCartGood {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    height: 90px;
    width:400px;
}
.preCartGood:hover {
    background: #e5e5e5;
}
.preCartGood:hover > .preCartDelete {
    display: block;
}
.preCartGood:hover > .preCartDeleteTest {
    display: block;
}
.preCartGoodImage {
    width:350px;
    text-align:left;
    text-shadow:none;
    float:left;
}
.preCartGoodImage img {
    border-radius: 3px 3px 3px 3px;
    width:70px;
    height:70px;
    float: left;
    margin-right:10px;
}
.preCartGoodName {
    width:270px;
    float:right;
}
.preCartGoodName a {
    overflow:hidden;
    word-wrap: break-word;
    height:50px;
    font-size:13px;
    color:black;
    display: block;
    margin:0;
}
.preCartGoodName span {
    float:left;
    color:black;
}
.preCartGoodName .qty {
    float:left;
    color:black;
    margin-left:30px;
}
.preCartDelete {
    display: none;
    margin-left: 5px;
    cursor: pointer;
    width:16px;
    height:16px;
    background: url("/images/trash.png") no-repeat;
    float:left;
}
.preCartDelete:hover {
    background: url("/images/th.png") no-repeat;
}
.preCartDeleteTest {
    display: none;
    margin-left: 5px;
    cursor: pointer;
    width:16px;
    height:16px;
    background: url("/images/trash.png") no-repeat;
    float:left;
}
.preCartDeleteTest:hover {
    background: url("/images/th.png") no-repeat;
}
.preCartButtons {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 1px solid #c2c2c2;
    width:418px;
    margin-top:10px;
}


#custom-tabs {
    background: none;
    padding: 0;
    min-height: 190px;
    max-height: 190px;
    border: none;
}


.category {
    text-align: center;
    border:1px solid #f9f9f9;
}
.category:hover {
    border:1px solid #c9c9c9;
}


#deliveryAB {
    margin-top: 3px;
}
#deliveryAB .tabs dd a {
    background: #fff;
}
#deliveryAB .tabs dd.active a {
    background: rgba(168, 224, 247, 0.5);
}
#deliveryAB .tabs dd {
    width: 132px;
    border: 0;
}
#deliveryAB .tabs dd.active {
    z-index:1;
}
#abDD > a {
    font-size: 16px;
    background: rgba(168, 224, 247, 0.5);
}
#abDD .active {
    z-index:1;
}
.abContent {
    border-left: 1px solid rgba(168, 224, 247, 0.5);
    border-right: 1px solid rgba(168, 224, 247, 0.5);
    border-bottom: 1px solid rgba(168, 224, 247, 0.5);
    background: rgba(168, 224, 247, 0.5);
    padding: 5px;
    height:248px;
    width: 450px;
    margin-bottom: 15px;
    z-index: 99;
}

/*стили для комментов*/
#contentComments{
    width:100%;
}
.addComment {
    padding: 5px;
    width: 700px;
    border-bottom:1px solid #dadada;
}
.commentRate {
    width:270px;
    clear: both;
    height: 30px;
    margin-bottom: 10px;
}
.commentRate span {
    display: block;
    float: left;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 10px;
}
.emptyStar {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
    background-image: url("/images/star_empty.png");
}
.star {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
    background-image: url("/images/star.png");
}

.newComment {
    float: left;
    width: 700px;
    padding: 5px;
    min-height: 50px;
    margin-top: 15px;
    font-size: 15px;
    border-bottom: 1px dotted #c9c9c9
}
.newCommentRating {
    width:700px;
    float: left;
    margin-bottom: 5px;
}
.newCommentRating span {
    padding-top: 5px;
    font-size: 14px;
    margin-left: 20px;
    float: left;
}
.newCommentStars {
    float: left;
}
.newCommentComment{
    padding-left: 10px;
    clear: both;
    width:700px;
}

body .select-drop .select-dropdown {
    z-index: 10;
}


#printOpis {
    margin-left:10px;float:left;width:220px;
}

@media print {
	body .wrap{
		width: 100%;
	}
	body .container{
		width:auto;
	}
	body #footer .modules .module.catalog,
	body #footer .modules .module.menu,
	.links,
	#header .small-6,
	body #main aside,
	#subscribe_user,
	#searchFormS,
	.button,
	#jivo-label,
    #hidePrint {
        display: none !important;
    }
    #printOpis {
        width: 800px;
    }
    #footer{
    	-webkit-box-shadow: 0 0 0;
    	-moz-box-shadow: 0 0 0;
    	box-shadow: 0 0 0;
    }
    body #footer{
    	padding-bottom: 60px;
    }
    body #main #content{
    	float:none;
    	margin: 0;
    }
    .categories .small-3,
    .products .small-3{
    	width: 23%;
    	padding-left:1%;
    	padding-right:1%;
    }
    #header .small-3{
    	width: 50%;
    	padding: 0;
    	text-align:center;
    }
    body #main #content .page .categories{padding: 0 !important;}
    body #main #content .page .benefits{page-break-inside: avoid;}
    body .tabbed > .tabs dd a{
    	background: none;
    }
    .small-block-grid-5 > li{
    	width:18%;
    	padding-right: 2%;
    }
   #header .container.right{
   	float: none !important;
   	margin-left:230px;
   }
   [class*="column"] + [class*="column"]:last-child{
   	float: left !important;
   }
}

body header > .tabs dd a {
    border-right: 1px solid #a1a1a1;
}
body #main #content .page.product .shop-controls {
    min-height: 255px;
}

#delivery-modal {
    width: 400px;
    padding: 10px;
    font-size: 16px;
}

#return-modal {
    width: 400px;
    padding: 10px;
    font-size: 16px;
}


.subscribe-top {
    padding: 4px;
    width: 100%;
    height: 40px;
    text-shadow: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #4d4d4d;
    position: fixed;
    background: #f3f3f3;
    opacity: 0.9;
    z-index: 999;
    overflow: auto;
    border-bottom: 2px solid #ee8028;
}


.covrolin-plate {
    padding: 4px;
    text-align: left;
    min-width: 110px;
    height: 235px;
    float: left;
    margin-bottom: 15px;
    border: 1px solid #FAFAFA;
    border-radius: 3px 3px 3px 3px;
}
.covrolin-plate:hover {
    border: 1px solid gray;
}
.covrolin-plate a:hover {
    text-decoration: none;
}
.covrolin-plate h2 {
    text-decoration: underline;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 2px;
}
.covrolin-plate img {
    border-radius: 2px 2px 2px 2px;
    height: 175px;
    width: 175px;
}


.laminat-dekor-plate {
    padding: 4px;
    text-align: left;
    min-width: 96px;
    height: 140px;
    float: left;
    margin-bottom: 10px;
    border: 1px solid #FAFAFA;
    border-radius: 3px 3px 3px 3px;
}
.laminat-dekor-plate:hover {
    border: 1px solid gray;
}
.laminat-dekor-plate a:hover {
    text-decoration: none;
}
.laminat-dekor-plate h2 {
    text-decoration: underline;
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 2px;
}
.laminat-dekor-plate img {
    border-radius: 2px 2px 2px 2px;
    height: 86px;
    width: 86px;
}
.laminat-not-view {
    display: none;
}

.tab-category-images a img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
}
.tab-category-images a span {
    display: block;
    margin-top: 15px;
}
.tab-category-images a {
    color:#137fb7;
    font-size:14px;
    font-weight:bold;
}

.categoryImages {
    padding: 6px 6px 6px 6px;
    width: 192px;
    height: 180px;
    float: left;
    border: 1px solid #fafafa;
    border-radius: 3px 3px 3px 3px;
}
.categoryImages:hover {
    border: 1px solid gray;
}

.categoryImages a:hover {
    text-decoration: none;
}
.categoryImages span {
    display: block;
    text-align: center;
    color:#137fb7;
    font-size:14px;
    font-weight:bold;
    margin: 14px auto 2px;
}
.categoryImages span:hover {
    text-decoration:underline;
}
.categoryImages img {
    border-radius: 2px 2px 2px 2px;
    height: 120px;
    width: 120px;
    margin-left: 29px;
    display: block;
}

body #main aside .catalog_block .menuCustom {
    border-top: 1px solid #dfdfdf;
    list-style: none;
    margin: 0;
    padding: 5px 15px;
    position: relative;
    z-index: 490;
}
body #main aside .catalog_block .menuCustom > li:before{
    color: #9e9e9e;
    font-size: 9px;
    display: block;
    line-height: 16px;
    position: relative;
    float: right;
}


.eplf_cat {
    position: absolute;
    cursor: pointer;
    top: 0;
    z-index: 100;
}
.eplf_id {
    position: relative;
    top: -35px;
    left: 210px;
}
.eplf_cat_info {
    position: absolute;
    padding: 5px;
    color: #626262;
    border: 1px solid #989898;
    border-radius: 3px 3px 3px 3px;
    text-decoration: none;
    font-size: 13px;
    top: 0;
    left: 60px;
    background-color: #d7d7d7;
    width: 160px;
    text-align: justify;
    z-index: 999;
    display: none;
}

.eplf_id_info {
    position: absolute;
    left: 250px;
    top:200px;
    padding: 5px;
    color: #626262;
    border: 1px solid #989898;
    border-radius: 3px 3px 3px 3px;
    text-decoration: none;
    font-size: 13px;
    background-color: #d7d7d7;
    width:160px;
    text-align: justify;
    z-index: 99;
    display: none;
}


.myCustomHeader {
    font-size: 27px;
    line-height: 30px;
    font-weight: 400;
    color: #7d7d7d;
    margin: 0.67em 0;
}
body .chosen-dark + .chosen-container .chosen-single {
    overflow: hidden;
    height: 32px;
    font-size: 14px;
    padding: 7px 10px;
}
body .chosen-container .chosen-single div {
    line-height: 33px;
}



.linol-plate {
    padding: 4px;
    text-align: left;
    min-width: 130px;
    height: 250px;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #FAFAFA;
    border-radius: 3px 3px 3px 3px;
}
.linol-plate:hover {
    border: 1px solid gray;
}
.linol-plate a:hover {
    text-decoration: none;
}
.linol-plate h2 {
    text-decoration: underline;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 2px;
}
.linol-plate img {
    border-radius: 2px 2px 2px 2px;
    height: 200px;
    width: 200px;
}



.selected-filters {
    width: 100%;
    border:1px solid #d7d7d7;
    min-height: 30px;
    background-color: #FFF;
    padding: 5px;
}
.selected-filters .filters-header {
    font-size: 13px;
    font-weight: bold;
    color: #626262;
}
.selected-filters .filters-heading {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}
.selected-filters div {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}
.selected-filters .filters-delete, .filters-deleteMan {
    width: auto;
    font-size: 13px;
    font-style: italic;
    margin-left: 12px;
    padding-right: 20px;
    padding-bottom: 2px;
    text-decoration: underline;
    background: url("/images/delete-icon.png") no-repeat 100%;
    cursor: pointer;
}


body #main #content .page.catalog .result ul.plate .product footer .price .old-price {
    margin-top: 0;
    margin-left: 26px;
    padding-left: 3px;
    width: auto;
}

.good-discount {
    position: absolute;
    width:70px;
    height:70px;
    z-index: 80;
    background: url("/images/dicount_big.png") no-repeat 100% 100%;
    background-size: 70px 70px;
}
.good-hit {
    position: absolute;
    width:70px;
    height:70px;
    z-index: 80;
    background: url("/images/hit_big.png") no-repeat 100% 100%;
    background-size: 70px 70px;
}
.good-new {
    position: absolute;
    width:70px;
    height:70px;
    z-index: 80;
    background: url("/images/new_big.png") no-repeat 100% 100%;
    background-size: 70px 70px;
}
.good-discount-good {
    position: absolute;
    width:86px;
    height:86px;
    z-index: 100;
    background-size: 86px 86px;
    background: url("/images/dicount_big.png") no-repeat 100% 100%;
}
.good-hit-good {
     position: absolute;
     width:86px;
     height:86px;
     z-index: 100;
     background-size: 86px 86px;
     background: url("/images/hit_big.png") no-repeat 100% 100%;
}
.good-new-good {
    position: absolute;
    width:86px;
    height:86px;
    z-index: 100;
    background-size: 86px 86px;
    background: url("/images/new_big.png") no-repeat 100% 100%;
}


.old-price-item {
    background: url("/images/old_price.png") no-repeat 50%;
    width: auto;
}


.select-shipments {
    position: absolute;
    top: 410px;
    right: 100px;
    width: 340px;
}

.select-shipments div {
    width: 100%;
    font-size: 13px;
    margin-bottom: 7px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d7d7d7;
}

.product-charakters-table {
    max-width: 550px;
    float: left;
    clear:both;
}
.covrolin-icons {
}
.covrolin-icons > div {
    margin-bottom: 5px;
    vertical-align: bottom;
}
.covrolin-icons > div > span {
    display: block;
    padding-top: 24px;
    font-size: 18px;
}
.covrolin-icons > div > img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
}


.adv {
    text-align: center;
    font-size: 14px;
    width:100%;
    height: 25px;
    padding: 5px;
}

.hintCheckout {
    width: 360px;
    height: 30px;
    position: absolute;
    z-index: 70;
    float: right;
    right: 130px;
    color: #fff;
    text-shadow: none;
    font-size: 14px;
}

.hintCheckout {
    display: none;
    padding: 4px;
    background: #80d1f3;
    border: 1px solid #3dbaee;
    border-radius: 3px 3px 3px 3px;
}
.hintCheckout:after, .hintCheckout:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.hintCheckout:after {
    border-color: rgba(128, 209, 243, 0);
    border-right-color: #80d1f3;
    border-width: 7px;
    margin-top: -9px;
}
.hintCheckout:before {
    border-color: rgba(61, 186, 238, 0);
    border-right-color: #3dbaee;
    border-width: 9px;
    margin-top: -11px;
}

.chosen-drop {
    z-index: 20;
}

.checkoutHint {
    width:18px;
    height:18px;
    margin-top: 4px;
    cursor: pointer;
}

.hintBody {
    z-index: 5000;
    width: 300px;
    padding-left: 30px;
    position: absolute;
    display: none;
}

.hintBlock {
    padding: 5px;
    color: #626262;
    border: 1px solid #989898;
    border-radius: 3px 3px 3px 3px;
    text-decoration: none;
    font-size: 13px;
    background-color: #d7d7d7;
    width:160px;
    text-align: justify;
    z-index: 99;
}

.complect-door {
    margin-top: 6px;
    line-height: 18px;
}


.doorMaterial {
    float:left;
    margin-right:10px;
    width:64px;
    height:64px;
    cursor: pointer;
}
.doorMaterialSizes {
    display: none;
    width:100%;
}


.doorMaterialSize {
    font-size: 14px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 6px;
    text-align: center;
    background-image: none;
    border: 1px solid #E6E6E6;
    padding: 6px 10px;
    color: black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.doorMaterialSize > .active {
    font-size: 20px;
    border: 2px;
    background: #b5b5b5;
}


body .products .product:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

body #main #content .page.catalog .result ul.plate .product:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

body #main #content .page.catalog .result ul.list .product:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

body h1 {
    font-size: 22px;
    line-height: 30px;
}

body h2 {
    font-size: 19px;
    line-height: 25px;
}

.user-help {
    width: 472px;
    min-height: 150px;
    border:1px solid #cccccc;
    border-radius: 1px 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 12px 0px;
    font-family: Tahoma, Geneva, sans-serif;
    text-shadow: 0 0 1px white;
    background-color: #fff;
    padding: 20px 60px 15px 20px;
    font-weight: normal;
}
.help-header {
    font-size: 17px;
    line-height: 20px;
}
.help-subheader {
    color: #8b8b8b;
    font-size: 13px;
    display: block;
    margin-top: 5px;
}
.help-contacts {
    margin-top: 13px;
    width: auto;
}
.help-phone {
    font-size: 14px;
    width: auto;
    float: left;
}
.help-phone-header {
    color: #000;
    text-decoration: none;
    font-size: 15px;
}
.help-phone-header:hover {
    text-decoration: none;
}
.help-phone-label {
    color:#0054F3;
    cursor: pointer;
    font-size: 14px;
}
.help-phone-label:hover {
    text-decoration: underline;
}
.help-email {
    width:auto;
    float: left;
    margin-left: 30px;
    font-size: 14px;
    margin-top: 3px;
}
.man-help {
    background: url("/images/icons/man.png") no-repeat #fff 99% 100%;
}
.woman-help {
    background: url("/images/icons/woman.png") no-repeat #fff 99% 100%;
}


.compare-good {
    display: inline-block;
    color: #5a5a5a;
    clear:both;
    padding-top: 10px;
    padding-right: 10px;
}
.compare-good span {
    font-size: 14px;
    cursor: pointer;
    display: block;
}
.compare-good span span {
    margin-left: 16px;
    border-bottom: 1px dotted #5a5a5a;
}


body #main #content .page.catalog .result ul.plate > li .compare-cat {
    color: #5a5a5a;
    float: right;
    clear:both;
    padding-top: 10px;
    padding-right: 10px;
}
body #main #content .page.catalog .result ul.list > li .compare-cat {
    float: left;
    margin-top: 10px;
    margin-bottom: 4px;
}
.compare-cat span {
    font-size: 10px;
    cursor: pointer;
    display: block;
}
.compare-cat span span {
    margin-left: 16px;
    border-bottom: 1px dotted #5a5a5a;
}

.compare-cat-remove {
    background: url("/images/icons/compare-red64.png") no-repeat;
    background-size: 13px 13px;
}
.compare-cat-add {
    background: url("/images/icons/compare64.png") no-repeat;
    background-size: 13px 13px;
}
.compare-cat-cap {
    clear:both;
    height: 25px;
}

.compare-block {
    margin-top: 20px;
}
.compare-block-header {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.compare-block-header-mini {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.compare-block-go {
    font-size: 15px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: underline;
}
.compare-block-go-mini {
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}

.compare-block-delete {
    cursor: pointer;
    color:red;
    border-bottom:1px dotted red;
    font-size: 15px;
    display: inline-block;
    margin-left: 20px;
}

.compare-goods {
}

.compareTrash {
    right: 3px;
    top: 3px;
    position: absolute;
    display: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url("/images/th.png") no-repeat;
}
.compareTrashItem {
    float:right;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.good-compare:hover .compareTrash {
    display: block;
}


.compare-table-char {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 15px;
    width: 200px;
}
.compare-table-char thead tr td {

    border-bottom: 1px solid #d3d3d3;
    height: 259px;
}
.compare-table-char tbody tr td {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: 50px;
    cursor: pointer;
}


.compare-wrapper {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 950px;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
}

.compare-table-items {
    width: auto;
}
.compare-table-items thead tr td {
    display: table-cell;
    overflow: auto;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    border-top:1px solid #d3d3d3;
    border-left:1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    height: 240px;
    min-width: 230px;
    font-size: 13px;
}
.compare-table-items thead tr td:last-child {
    border-right:1px solid #d3d3d3;
}
.compare-table-items tbody tr td {
    cursor: pointer;
    padding: 10px;
    border-left:1px solid #d3d3d3;
    font-size: 15px;
    height: 50px;
}
.compare-table-items tbody tr td:last-child {
    border-right:1px solid #d3d3d3;
}
.compare-table-items tbody tr:hover {
    background: #e7f7fd;
}
.compare-table-td-active {
    background: #dbebf1;
}


.compare-fix {
    position: fixed;
    bottom: 0;
    vertical-align: middle;
    width: 100%;
    height: 28px;
    font-size: 14px;
    color: #4d4d4d;
    background: #f3f3f3;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid #ee8028;
}
.compare-fix-body {
    line-height: 15px;
    width: 1190px;
    margin: 0 auto;
    text-align: center;
    text-shadow: none;
    padding-top: 4px;
    color: black;
}
.compare-fix-body a {
    color: black;
}

.compare-fix-body a:hover > .compare-items-count {
    color: red;
    text-decoration: underline;
}

.compare-fix-body img {
    width: 16px;
    height: 16px;
}
.compare-fix-body a:hover {
    text-decoration: none;
}

.compare-it {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    background: #f9f9f9;
    border: 2px solid #ee8028;
    border-radius: 3px 3px 3px 3px;
    height: 570px;
    float: right;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
}
.compare-block-mini {
    margin-top: 10px;
}
.compare-block-header-mini {
    color: black;
}
.compare-block-header-mini:visited {
    color: black;
}
.compare-it-block-item {
    background: #c9c9c9;
    width: 95px;
    height: 95px;
    margin: 10px;
    float: left;
    cursor: pointer;
    border: 1px solid #d3d3d3;
    border-radius: 3px 3px 3px 3px;
}
.compare-it-block-item img {
    width: 93px;
    height: 93px;
}

.compare-it-block-item-mini {
    width: 350px;
    min-height: 70px;
    margin: 5px;
    float: left;
    cursor: pointer;
    padding: 7px;
    border-bottom: 1px solid #d3d3d3;
}
.compare-it-block-item-mini:hover {
    background: #e5e5e5;
}
.compare-it-block-item-mini img {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 10px;
}
.cp-name {
    width: 155px;
    float: left;
    text-align: left;
    color: black;
    text-overflow: clip;
}
.cp-price {
    float: left;
    width: 50px;
    color: black;
    font-size: 14px;
    text-align: right;
}
.cp-delete {
    float: right;
    width: 16px;
    height: 16px;
    background: url("/images/trash.png");
    text-align: right;
}
.cp-delete:hover {
    background: url("/images/th.png");
}

.cp-dt {
    position: relative;
    top: -90px;
    left: 76px;
    width: 14px;
    height: 14px;
    background: url("/images/trash.png") no-repeat;
    background-size: 14px 14px;
}
.cp-dt:hover {
    background: url("/images/th.png");
}


#non-selectable {
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.qq-upload-list {
    display: none;
}
.proposal-files {
    background-color: #5DA30C;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0 0 20px;
    padding: 10px;
    display: none;
}


.complete-image {
    width: 70px;
    height: 70px;
    border: 1px solid #d6d6d6;
    border-radius: 4px 4px 4px 4px;
}


.door-price-button {
    text-align: center;
    width: 155px;
    height: 80px;
    border: 1px solid #dcdcdc;
    border-radius: 3px 3px 3px 3px;
    float: left;
    font-size: 15px;
    cursor: pointer;
}
.door-price-button span {
    color: #636363;
    margin-top: 19px;
    margin-bottom: 11px;
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
}
.door-complect-price-button {
    width: 320px;
    height: 80px;
    border: 1px solid #dcdcdc;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.door-complect-price-button-price {
    text-align: center;
    width: 145px;
    height: 80px;
    float: left;
    font-size: 15px;
}
.door-complect-price-button-price span {
    color: #636363;
    margin-top: 19px;
    margin-bottom: 11px;
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
}
.door-complect-price-button-desc {
    text-align: left;
    width: 144px;
    margin-left: 10px;
    padding-top: 11px;
    height: 80px;
    float: left;
    font-size: 14px;
}
.door-button-active {
    color: #e58b24;
    border: 1px solid #ff8c0a;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.door-basket-button {
    width: 134px;
    height: 80px;
    float: left;
    margin-left: 10px;
    display: block;
    border: 1px solid #ff8c0a;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0d600), to(#ff8c0a));
    background-image: -webkit-linear-gradient(top, #f0d600 0%, #ff8c0a 100%);
    background-image: linear-gradient(to bottom, #f0d600 0%, #ff8c0a 100%);
    padding: 6px 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px #ff8c0a;
    font-size: 14px;
    line-height: 14px;
    border-radius: 3px;
}
.door-basket-button img {
    margin-top: 8px;
    margin-bottom: 4px;
    width: 43px;
}

.door-art-block {
    font-size: 14px;
    font-weight: bold;
}

.door-polotno {
    height: 120px;
    margin-top: 5px;
}
.door-polotno-box {
    float: left;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    height: 120px;
    border: 1px solid #dcdcdc;
    border-radius: 4px 4px 4px 4px;
}
.door-polotno-active {
    border: 1px solid #ff8c0a;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.door-polotno img {
    width: 100px;
    height: 118px;
}


.door-choise-size {
    height: 120px;
    display: none;
}
.door-choise-size header {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
}
.door-sizes-block {
    height: 40px;
    display: none;
}
.door-size {
    cursor: pointer;
    text-align: center;
    color: #636363;
    font-size: 13px;
    font-weight: bold;
    width: 110px;
    padding: 8px 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px 4px 4px 4px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
.door-size-active {
    border: 1px solid #ff8c0a;
    color: #ff8c0a;
}


.stroyka-button {
    position: relative;
    top: -80px;
}
.stroyka-button a.stroyka-link {
    width: 190px;
    height: 40px;
    font-size: 19px;
    padding-top: 12px;
}
.kompl-hide {
    display: none;
}
.kompl-form {
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
    width: 340px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}
.kompl-form input {
    margin-bottom: 10px;
}


#shop-otherPprz .products .small-block-grid-4 li {
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #f9f9f9;
}
#shop-otherPprz .products .small-block-grid-4 li:hover {
    border-radius: 4px 4px 4px 4px;
    border: 1px solid gray;
}


.widget-product img {
    height: 180px;
    width: 212px;
}


.other-subsections {
    height: 210px;
}
.other-subsections header {
    display: block;
}
.other-subsections a {
    border: 1px solid #f9f9f9;
    padding: 5px;
    border-radius: 2px 2px 2px 2px;
    color: #7d7d7d;
    display: block;
    float: left;
    margin-left: 25px;
    width: 150px;
    height: 200px;
}
.other-subsections a:hover {
    text-decoration: none;
    border: 1px solid #d7d7d7;
}
.other-subsections a:first-child {
    margin-left: 0;
}
.other-subsections a img {
    width: 150px;
    height: 150px;
}
.other-subsections a span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    text-decoration: underline;
}
.other-subsections a span.count {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.good-card-tab-content {
    height: auto;
}
.tab-childs:nth-child(n+6) {
    display: none;
}

.onec_id {
    font-size: 15px;
    margin-bottom: 10px;
}
